[Unit]
Description=spawnd
After=bw2.service docker.service

[Service]
Restart=always
RestartSec=30s
User=spawnd
TimeoutStartSec=1m
ExecStart=/usr/bin/docker run \
    --name %p \
    -v /etc/spawnd/:/etc/spawnd/ \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -e DOCKER_API_VERSION={{dockerClientVersion}} \
    -e SPAWNPOINT_PERSIST_FILE="/etc/spawnd/.manifests" \
    jhkolb/spawnd:{{release_version}}-{{machine_architecture}}
ExecStop=/usr/bin/docker stop -t 10 %p ; /usr/bin/docker rm -f %p

[Install]
WantedBy=multi-user.target
