[Unit]
Description=spawnd
After=bw2.service docker.service

[Service]
Restart=always
RestartSec=1m
User=spawnd
TimeoutStartSec=1m
ExecStart=/usr/bin/docker run \
    --name %p \
    -v /etc/spawnd/:/etc/spawnd/ \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -e SPAWND_PERSIST_DIR=/etc/spawnd \
    -e DOCKER_API_VERSION={{dockerClientVersion}} \
    jhkolb/spawnd:amd64
ExecStop=/usr/bin/docker stop -t 10 %p ; /usr/bin/docker rm -f %p

[Install]
WantedBy=multi-user.target
